<%= turbo_frame_tag "dashboard_content" do %>
  <%= render "shared/admin_breadcrumbs", breadcrumbs: [
    { name: "Blogs", url: milk_admin_blogs_dashboard_path },
    { name: "Edit: #{@blog.title}" }
  ] %>

  <div class="w-full mx-auto">
    <h2 class="text-3xl font-bold text-gray-900 mb-6">Edit Blog Post</h2>

    <div class="bg-white rounded-lg shadow-sm border border-gray-200 p-6">
      <%= render partial: "milk_admin/blogs/partial/form", locals: { blog: @blog } %>
    </div>
  </div>
<% end %>