<section class="flex justify-center items-center bg-zinc-900 text-zinc-50 h-svh w-full">
  <div class="relative flex bg-[url(/AI-ROBOT-PANIC-mask1.webp)] bg-no-repeat bg-cover lg:bg-[url(/AI-ROBOT-PANIC-left.webp)] bg-center-top w-full h-full">
    <div class="absolute flex flex-col z-20 bottom-2 left-4 items-end">
      <%= link_to 'Zuke', root_path, class: "font-kanit text-3xl font-extrabold text-zinc-400 mb-4" %>
      <%= link_to "Music that moves me", music_list_zuke_index_path, class: "font-medium text-zinc-900 bg-lime-400 hover:bg-lime-300 mb-6 px-4 py-2 rounded-md" %>
    </div>
</section>

