<section class="mt-14 text-zinc-100 kodchasan-regular pb-16">
  <div class="flex flex-wrap justify-center items-center min-h-screen">
    <% @songs.each do |song| %>
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 m-2 w-48">
          <a href="#">
              <%= image_tag song.song_image, class: "rounded-t-lg w-48", alt: song.title if song.song_image.present? %>
          </a>
          <div class="flex justify-between item-center p-2">
              <a href="#">
                <p class="mb-1 text-sm font-bold tracking-tight text-gray-400">
                  <%= song.title %>
                </p>
              </a>
              <%= render partial: "zuke/partial/play", locals: { controller_name: "music", song: song } %>
              <%= song.id %>
          </div>
      </div>
    <% end %>
  </div>
</section>
