<section class="mt-14 text-zinc-100 pb-16">
  <% if @view_mode == 'list' %>
    <div class="max-w-4xl mx-auto">
      <% @songs.each do |song| %>
        <%= render partial: "zuke/partial/song_display", locals: { song: song, view_mode: @view_mode } %>
      <% end %>
    </div>
  <% else %>
    <div class="flex flex-wrap justify-center items-center min-h-screen">
      <% @songs.each do |song| %>
        <%= render partial: "zuke/partial/song_display", locals: { song: song, view_mode: @view_mode } %>
      <% end %>
    </div>
  <% end %>
</section>

