<div class="flex w-[196px] h-6 my-1">
  <div class="flex items-center" style="border-start-start-radius: 0.375rem; border-end-start-radius: 0.375rem; background-color: #787878; width: 68px; height: 24px;">
    <span class="text-white text-xs font-semibold font-sans pl-2"><%= @skill %></span>
  </div>
  <div class="flex items-center" style="background-color: <%= @version_color %>; border-start-end-radius: 0.375rem; border-end-end-radius: 0.375rem; width: 128px; height: 24px;" >
    <span class="text-black text-xs font-semibold font-sans pl-2"><%= @version %></span>
  </div>
</div>
