<div class="flex w-[196px] h-6 my-1">
  <div class="flex items-center w-[68px] h-6 bg-pill-base rounded-s-md">
    <span class="text-white text-xs font-semibold font-sans pl-2"><%= @skill %></span>
  </div>
  <div class="flex items-center w-32 h-6 rounded-e-md" style="background-color: <%= @version_color %>;" >
    <span class="text-black text-xs font-semibold font-sans pl-2"><%= @version %></span>
  </div>
</div>
