<div class="flex flex-col justify-center items-center w-full mt-4">
  <div class="w-fit p-4">
    <h1 class="text-3xl text-sky-100 align-middle text-center bg-sky-900 rounded-md mb-2 p-2">Create a new Project</h1>
    <div class="bg-slate-800 rounded-md my-2">
      <%= render partial: "milk_admin/projects/partial/form", locals: { project: @project } %>
      
    </div>
  </div>
</div>