<section class="flex justify-center items-center bg-zinc-900 text-zinc-50 h-svh w-full">
  <div class="relative w-full h-screen bg-[url(/AI-ROBOT-PANIC.webp)] bg-contain bg-right-top">
    <!-- Dark Overlay with Clip-Path -->
    <div class="absolute inset-0 overlay z-10"></div>
</section>

