<div class="flex flex-col justify-center items-center w-full mt-4">
  <div class="w-fit bg-slate-800 rounded-md p-4">
    <h1 class="text-3xl text-sky-100 align-middle text-center bg-sky-900 rounded-md mb-2 p-2">Edit Song</h1>
    <div>
      <%= render partial: "milk_admin/songs/partial/form", locals: { song: @song } %>
    </div>
  </div>
</div>