<%= turbo_frame_tag "dashboard_content" do %>
  <%= render "shared/admin_breadcrumbs", breadcrumbs: [
    { name: "Songs", url: milk_admin_songs_dashboard_path },
    { name: "New Song" }
  ] %>
  <div class="flex flex-col justify-center items-center w-full mt-4">
    <div class="w-fit  bg-gray-200 rounded-md p-4">
      <h1 class="text-3xl text-gray-900 align-middle text-center rounded-md mb-2 p-2">New Song</h1>
      <div>
        <%= render partial: "milk_admin/songs/partial/form", locals: { song: @song } %>
      </div>
    </div>
  </div>
<% end %>