<section id="about-me" class="bg-base-light text-base-dark dark:bg-base-dark dark:text-gray-50 w-full lg:max-w-[700px]">
  <div class="w-full">
    <h2 class="text-3xl font-bold dark:text-milk-light text-base-dark">
      Mason Roberts
    </h2>
    <hr class="my-4 w-full dark:border-white border-base-dark">
    <h3 class="text-lg">
      <strong>More than expected</strong>
    </h3>
    <div class="grow max-h-[430px] overflow-y-auto">
      <%= image_tag "move-for-me-live-image.gif", alt: "Move for Me", class: "w-full" %>
      <p class="my-4 md:text-md ">
        Automotive technician by trade with well over 20 years experience. Web developer with nearly 7 years experience (self taught). Rails focus for the past few years. I know the javascript ecosystem and use it in Rails but have developed with React and Node. These days I use PostgreSQL but know MongoDB as well. I use Claude Code and have various scripts built to help both with the studio and code. I also use Gemini both in the browser and with the CLI tool. For design I use Figma in the browser and Krita on my Linux ThinkPad running PoPos these days. I am well versed in Git as well. Most of my apps have some kind of AWS or AZURE integration.
      </p>
      <p class="mb-4">
        I have a Substack and Patreon for the studio as I continue to build out this platform. Most of my time these days are taken up with a automotive rewards and flash sale app, as well the various other personal projects I hope to launch with the studios support. Soundscape is a true passion. That music player is a lot of fun. Hermit Plus has been a dream for such a long time. It has been partially built in both React and Next.
      </p>
    </div>
  </div>
</section>