<section id="contact-thankyou" class="bg-base-light text-base-dark dark:bg-base-dark dark:text-gray-50 w-full lg:max-w-[700px]">
  <div class="w-full">
    <h2 class="text-3xl font-bold dark:text-milk-light text-base-dark">
      Thank you
    </h2>
    <hr class="my-4 w-full dark:border-white border-base-dark">
    <h3 class="text-lg">
      Message Received
    </h3>
    <div class="grow overflow-y-auto">
      <p class="my-4 md:text-md ">
        I thank you for reaching out. The message has been sent and I will get it shortly. I look forward to speaking with you.
      </p>
      <p class="mb-4">
        Mason Roberts</br>
        Rogue Media Lab</br>
        rogue.media.lab@gmail.com
      </p>
    </div>
  </div>
</section>