<section id="erudition" class="bg-base-light text-base-dark dark:bg-base-dark dark:text-gray-50 w-full lg:max-w-[700px]">
  <div class="w-full">
    <h2 class="text-3xl font-bold dark:text-milk-light text-base-dark">
      Erudition
    </h2>
    <hr class="my-4 w-full dark:border-white border-base-dark">
    <h3 class="text-lg">
      Learn Web Development
    </h3>
    <div class="grow max-h-[430px] overflow-y-auto">
      <p class="my-4 md:text-md ">
        I had the idea for Erudition some time back. While I was studying for the AWS Solutions Architect Associate exam I created a study guide of my notes. I loved how it came out and have found it useful to refresh those concepts. I have always wanted to take it further and include the concept of web development. If I came at it from the Rails perspective, I think learning web dev would be easier for people to advance through their careers. I wish I had known about Rails while going through Lambda. 
      </p>
      <p class="mb-4">
        It would go through everything I personally work through on a daily basis like Git and Github, through Rails which would include Javascript. Some database stuff like SQL, PostgreSQL and MongoDB and the main ORMs. Can't forget style with CSS and Tailwind or the basics of HTML. Until I get that up and running, I invite you to explore 
        <%= link_to "https://erudition-saa-c02.vercel.app/", 
                target: "_blank", 
                rel: "noopener noreferrer", 
                "aria-label": "Support me on Patreon" do %>
          <span class="underline text-milk-dark dark:text-milk-light">Erudition SAA-C02.</span>
        <% end %>
      </p>
      <%= image_tag "erudition-promo.png", alt: "Erudition Promo" %>
    </div>
  </div>
</section>