<section id="welcome" class="bg-base-light text-base-dark dark:bg-base-dark dark:text-gray-50 max-w-[700px]"> 
  <h2 class="text-3xl font-bold dark:text-milk-light text-base-dark">Welcome</h2>
  <hr class="my-4 w-full dark:border-white border-base-dark">
  <div>
    <p class="mb-4">
    Welcome to the Rogue Media Lab. A Ruby on Rails project built by me, Mason Roberts. By day, I am an automotive technician, training shop teams and keeping customer vehicles running smoothly. By night? A designer, developer, and perpetual student, crafting the tools and projects I've always wanted. This site is my digital workshop. A place where curiosity meets code, and where you're invited to explore what I've built, what I'm learning, and how we might collaborate.
    </p>
    <p class="mb-4">
    This isn't just a portfolio; it's a multipurpose hub. For visitors, it is a showcase of my work and a growing library of Rails and web development resources. For potential clients it is a showcase of what I can do for you. Whether you're here to browse, learn, or partner on a project, I've designed this space to be as functional as it is personal.
    </p>
    <p class="mb-4">
    Think of it as part playground, part professional toolkit, all built with the same philosophy I bring to both cars and code: solve problems with precision, keep things running smoothly, and always leave room for creativity. Take a look around, and don't hesitate to reach out if you have any questions.
    </p>
  </div>
</section